@font-face {
  font-family: 'Icons';
  src: url('../static/icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main Elements */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 10pt;
}

body > div {
  display: flex;
}

.top {
  /*background: red;*/
}

.center {
  flex-grow: 1;
  /*background: orange;*/
}

.bottom {
  padding: 2px;
  font-size: 1.6em;
  -webkit-user-select: none;
  -mox-user-select: none;
  /*background: gold;*/
}

/* Title */
#title {
  width: 100%;
  font-size: 1em;
  line-height: 1.5em;
  background: inherit;
  text-align: center;
  font-weight: bold;
  border: 0;
  outline: none;
}

#title::-moz-placeholder {
  color: #c0c0c0;
}

#title::-webkit-input-placeholder {
  color: #c0c0c0;
}

/* Notes */
#notes {
  padding: 5px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  background: inherit;
  border: 0;
  box-sizing: border-box;
  resize: none;
  outline: none;
}

.bottom .center {
  width: 100%;
  /*margin: 0 5px;*/
  font-size: inherit;
  font-family: 'Icons';
  text-align: center;
}

button {
  margin: 0;
  padding: 0;
  font-family: 'Icons';
  font-size: inherit;
  text-align: center;
  background: 0;
  border: 0;
  outline: none;
}

button:hover,
input[type="checkbox"] + label:hover {
  opacity: 0.6;
}

input[type="checkbox"] {
  display: none;
}

button,
input[type="checkbox"] + label {
  cursor: pointer;
  color: inherit;
  opacity: 0.4;
  transition: all 0.2s;
}

input[type="checkbox"]:checked + label {
  opacity: 1;
}
