html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 10pt;
}

textarea {
  padding: 10px;
  width: 100%;
  height: calc(100% - 2px);
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  background: inherit;
  border: 0;
  box-sizing: border-box;
  resize: none;
}
